* { margin:0; padding:0; box-sizing:border-box;}
body{
  background-color: whitesmoke;
}
.part1{
  border: 2px solid rgb(219, 216, 216);
  background-color: white;
  margin-left: 260px;
  margin-right: 50px;
  margin-top: 5px;
}
.part2{
  border: 2px solid rgb(219, 216, 216);
  background-color: white;
  margin-left: 260px;
  margin-right: 50px;
}
.H1 {
  border: rgb(219, 216, 216);
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 60px;
}
.H2,
.dropdown {
  border: rgb(219, 216, 216);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 50px;
  padding-left: 15px;
}
.breadcrumb {
  border-top: 2px solid rgb(219, 216, 216);
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.c {
  border: 2px transparent rgb(219, 216, 216);
  font-size: x-large;
  margin-left: 48px;
}
div.searchbar {
  border: 2px transparent rgb(219, 216, 216);
  font-size: x-large;
  margin-left: 15px;
  margin-right: 50px;
}
.table,
.thead,
.tr,
.col {
  background-color: white;
  border: 2px solid rgb(219, 216, 216);
  margin-left: 15px;
  width: 95%;
}
.h5{
  border: 1px transparent white;
  margin-left: 48px;
}
/*xxxxxxxxxxxxxxxxxxxx Sidebar Styling xxxxxxxxxxxxxxxxxxxx*/

/* User Profile  */
.user {
  display: flex;
}

.sidebar {
  margin: 0px;
  padding: 0;
  width: 260px;
  background-color: #313131;
  position: fixed;
  height: 100%;
  overflow: auto;
  float: left;
}

/* Sidebar navigation links */
.sidebar a {
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
}

/* sidebar navigation link hover effect */
.sidebar a:hover:not(.active) {
  color: white;
}

/* confused what i used this for */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Making Sidebar responsive for phones */
/* Max width */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .boxs {
    display: flex;
    flex-direction: column;
  }
}
/* Min width */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  #logo {
    padding-top: 0;
  }
}

/* Dropdown container (hidden by default) */
.dropdown-container {
  display: none;
  background-color: #313131;
  padding-left: 8px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* FontAwesome ">" icon */
.fa-caret-right {
  float: right;
  padding-right: 0px;
}

.dropdown-btn {
  color: white;
}

#main-category {
  font-size: 15px;
}

#main-category:hover {
  background-color: none;
}

/*xxxxxxxxxxxxxxxxxxxx ENDS HERE... xxxxxxxxxxxxxxxxxxxx*/

/*===== Sidebar top heading =====*/
/* Main Category */
/* Apperance */
h4 {
  padding-left: 15px;
  padding-top: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}

/* Main content */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
